body {
	background-image: url("../images/starwarsbackground.jpg");
}

h1, h2, p, h4 {
	color: white;
}

div {
	/*border: 1px white solid;*/
	margin: 10px;
}

img {
	height: 100%;
	width: 100%;
}

header {
	margin-right: 20px;
	/*background-color: gray;*/
	padding: 10px;
	position: fixed;
	left: 1000px;
}

.row {
	margin-left: 30px;
	margin-right: 0px;
	width: 100%;
}

.title {
	margin-top: 0px;
	margin-bottom: 0px;
}

.character {
	border: 1px white solid;
	background-color: gray;
}

.fight {
	float: right;
}